* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #142c47;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  overflow-x: hidden;
}

.app {
  width: 500px;
  min-height: 500px;
  text-align: center;
  background: linear-gradient(to right top, #142c47, #049451);
  border-radius: 15px;
  border: none;
  padding: 0.5rem;
  transition: 0.5s all ease-out;
}

@media (max-width: 400px) {
  .app {
    width: 350px;
  }
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4rem;
  letter-spacing: 4px;
}

.mainmenu {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 4rem;
}

.mainmenu > * {
  margin-bottom: 1rem;
}

.mainmenu input {
  width: 210px;
  height: 40px;
  border-radius: 15px;
  outline: none;
  border: 1px solid white;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.mainmenu button {
  width: 100px;
  height: 30px;
  background: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 700;
}

.quiz h2 {
  padding-top: 1rem;
}

.quiz .btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.quiz .pagin {
  margin-left: auto;
  margin-top: 3rem;
  font-weight: 500;
}

.btn-container button {
  min-width: 120px;
  min-height: 30px;
  font-size: 1rem;
  cursor: pointer;
  background: transparent;
  color: rgb(233, 218, 218);
  padding: 0.5rem;
  border: 1px solid white;
}

.btn-next,
.btn-finish,
.endscreen button {
  width: 150px;
  height: 30px;
  margin-top: 5rem;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 8rem;
}
.endscreen {
  width: 100%;
}
.endscreen h1 {
  font-size: 3rem;
  padding-top: 1rem;
}

.endscreen h3 {
  font-size: 3rem;
  margin-block: 3rem;
}

.lastone {
  display: flex;
  width: 50%;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
}

.lastone span {
  font-weight: 700;
}
